/*---------- VIEW - Vacant lots ----------*/
.view-vacant-lots td.warning-length {
  background-color: #fd8889;  
}
.view-vacant-lots .total-matching-values-value {
  background-color: #e4e4e4;
  border: 1px black solid;
  padding: 3px;
  font-size: 1.5em;
}

.view-vacant-lots #edit-field-mhc-lot-lot-num-value {
  width: 75px;
}

/*---------- VIEW - MH Install List ----------*/
.view-mh-installations table caption {
  font-size: 1.5em;
}
.view-mh-installations .total-matching-values-value {
  background-color: #e4e4e4;
  border: 1px black solid;
  padding: 3px;
  font-size: 1.5em;  
}

/*---------- VIEW - Title Service ----------*/
.view-title-service .total-matching-values-value {
  background-color: #e4e4e4;
  border: 1px black solid;
  padding: 3px;
  font-size: 1.5em;    
}



/*---------- PANEL - MHC lot ----------*/
.panel-mhc-lot-pane-setbacks h2.pane-title,
.panel-mhc-lot-pane-dimensions h2.pane-title,
.panel-mhc-lot-pane-overview h2.pane-title {  
  margin-top: 0px;
  padding-bottom: 15px;  
}
h3.views-field.views-field-field-mhc-lot-build-length-2 {
  margin-bottom: 25px;
  margin-top: 5px;
}
h3.views-field.views-field-field-mhc-lot-build-length-2 {
  margin-bottom: 25px;
  margin-top: 5px;
}

/*---------- PANE - MHC lot configuration ----------*/
.pane-mhc-lot-configuration {
  padding-bottom: 10px;
}
.pane-mhc-lot-configuration .pane-title {
  margin-top: 0px;
  padding-bottom: 5px;
  text-align: center;
}

/*---------- VIEW - MH Listing ----------*/
.view-mh-listings-list .views-field-field-mh-listing-price {
  font-size: 1.3em;
  margin-bottom: 5px;
}
.view-mh-listings-list .views-field-title {
  font-size: 1.5em;
  margin-top: 0px;
  padding-top: 0px;
}


/* Fixes the bug of views not displaying the contextual links cog
   on the table display. */
   
td.views-field-contextual-links .contextual-links-wrapper{
  width: 34px;
  position: relative;  
}

/* Remove the appearance of a blank table column when contextual links are
   used. */

th.views-field-contextual-links,
td.views-field-contextual-links {
  background-color: #FFF;
}
*/